@model IEnumerable<proyecto.Models.Avion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aerolinea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aerolinea.IDAerolinea)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDAvion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDAvion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDAvion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
