@model IEnumerable<proyecto.Models.Pasajero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDPasajero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDPasajero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDPasajero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
